#!/bin/sh

exec 2>&1
exec chpst -u <%= node["prometheus"]["user"] %> \
  <%= node["thanos"]["binary"] %> <%= @options[:thanos_mode] %> \
<% node["thanos"]["peers"].each do |peer| -%>
  --cluster.peers='<%= peer %>' \
<% end -%>
  <%= Gitlab::Prometheus.kingpin_flags_for(node, "thanos-#{@options[:thanos_mode]}") %>
